name: runlab
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.8.0

dependencies:
  flutter:
    sdk: flutter
  go_router: ^14.6.2
  flutter_svg: ^2.0.10+1
  supabase_flutter: ^2.5.6
  flutter_riverpod: ^2.5.1
  flutter_dotenv: ^5.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/logos/
    - assets/images/
    - .env
